# Functions

In [3]:
def hello():
    print("Hello World!")

hello()

Hello World!

In [10]:
def full_name(fname, lname):
    print(f"Your Full name is: {fname} {lname}.")

full_name("Debashis", "Roy")

Your Full name is: Debashis Roy.

## Default Parameter Value

In [14]:
def country(name="Bangladesh"):  # Default argument is Bangladesh.
    print(f"I'm from {name}.")

country()
country("Japan")

I'm from Bangladesh.
I'm from Japan.

## Return Statement

In [17]:
def multiplication(x,y): 
    return ( x * y )

multiplication(5,10)

50

## Docstring

In [44]:
def multiply(x,y): 
    """ 
    This function will perform multiplication of two parameter.
    Great!
    """
    return ( x * y )

print(multiply.__doc__) # This will print those comments .

    This function will perform multiplication of two parameter.
    Great!

In [65]:
def cube(y):
    return y*y*y

cube(5)

125

## Lamda Function

In [69]:
lambda_cube = lambda y : y*y*y

print(lambda_cube(5))

125

In [71]:
x = lambda a:a+10
print("Sum =",x(5))

Sum = 15

In [73]:
x = lambda a,b,c:a+b+c
print("Sum =", x(1,2,3))

Sum = 6

### key = lambda

In [52]:
data = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

# Sort by the frist element in each sublist
sorted_data = sorted(data, key=lambda x: x[0])
print(sorted_data)

[['Akriti', 41], ['Berry', 37.21], ['Harry', 37.21], ['Harsh', 39], ['Tina', 37.2]]

In [48]:
data = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

# Sort by the second element in each sublist
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[['Tina', 37.2], ['Harry', 37.21], ['Berry', 37.21], ['Harsh', 39], ['Akriti', 41]]

## Recursion Function

In [96]:
def fact(n):
    if (n ==1):
        return 1
    else:
       return (fact(n-1) * n )

n = int(input("Enter a number:"))
print(f"The Factorial of {n} is {fact(n)}")

Enter a number: 5

The Factorial of 5 is 120

## Map Function

In [18]:
def square(x):
    return x * x

num = [1,2,3,4,5]
print(type(num))
result = list(map(square, num))
print(result)

<class 'list'>
[1, 4, 9, 16, 25]

In [32]:
def square():
    num = [1,2,3,4,5]
    result = map(lambda x: x**2, num)

print(result)

[1, 4, 9, 16, 25]

In [34]:
def my_func(a): 
    return len(a)

x = ("apple","banana","cherry")
y = map(my_func, x)
print(list(y))

[5, 6, 6]

## Filter Function

In [38]:
ages = [10,15,30,21,25]

def my_func(x):
    if x < 18:
        return False
    else:
        return True

adults = list(filter(my_func, ages))

print(adults)

[30, 21, 25]

In [40]:
num = [10,15,30,21,25]

result = list(filter(lambda x: x%2 == 0, num))
print("Ever Number set:", result)

Ever Number set: [10, 30]

## Zip Function

In [53]:
roll = [10,15,30,21,25]

name = ["Debu", "Jenny", "Monika", "Alan", "Jhon"]
result = list(zip(roll, name))

print(result)

[(10, 'Debu'), (15, 'Jenny'), (30, 'Monika'), (21, 'Alan'), (25, 'Jhon')]

In [ ]:
result1 = result
result2 = list(zip(*re))